@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--body-color);
}

:root {
	--primary-color: #289255;
	--secondary-color: #935036;
	--gradient-color: linear-gradient(
		90deg,
		rgba(114, 153, 181, 1) 0%,
		rgba(204, 219, 232, 1) 50%
	);
	--white-color: #ffffff;
	--black-color: #000000;
	--text-color: #37414a;
	--grey-text: #788693;
	--input-color: #dddddd;
	--body-color: #ccedbf;
	--color-bg: #ccdbe8;
	--card-bg: #f2f2f2;
	--card-hover: #ffffff;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

li {
	list-style: none;
}

.section {
	padding: 4rem 0 2rem;
}

.container {
	padding: 0 1.5rem;
}

.icon {
	font-size: 2rem;
	cursor: pointer;
}

.flex {
	display: flex;
	align-items: center;
}

.grid {
	display: grid;
	align-items: center;
}

.btn {
	padding: 0.6rem 1.5rem;
	background: var(--primary-color);
	border-radius: 3rem;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn a {
	color: var(--white-color);
	font-weight: 500;
}

.btn:hover {
	background-color: var(--secondary-color);
}

img,
video {
	width: 100%;
	height: auto;
}

input {
	font-size: 100%;
}
